@import './helpers/index.scss';
@import './components/index.scss';

body {
  background: #f9f7ff;
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: #190a32;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
}

.gradient {
  color: #ffffff;
  background: transparent linear-gradient(90deg, $purple 0%, $pink 100%) 0% 0%
    no-repeat padding-box;
}

.pricing-options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  justify-content: center;
  row-gap: 48px;
}
